<div class="card mb-2">
<%= form_for @work_request do |f| %>
<div class="card-header">
  <h3>
    <div class="">
      <%= @work_request.scheme_name %>
    </div>
    ID: <%= @work_request.id %>
  </h3>
</div>
  <div class="card-body">
    Submission date :
    <%= f.text_field :submission_date, id: 'submission_date' %>
    <br>
    <%= f.label :report_date %>
    <%= f.text_field :report_date, id: 'report_date' %>
    <br>
    <%= f.label :issue_method %>
    <%= f.text_field :issue_method, id: 'issue_method', disabled: true %>
  </div>
  <div class="card-body">
    <%= f.label :project_type %>
    <%= f.text_field :project_type, id: 'project_type', disabled: true %>
  </div>
  <div class="card-body">
    <%= f.label :office %>
    <%= f.text_field :office, id: 'office' %>
  </div>
  <div class="card-body">
    <%= f.label :status %>
    <%= f.text_field :status, id: 'status' %>
  </div>
  <div class="mb-4">
    <%= f.submit(@work_request.new_record? ? "Create request" : "Amend request") %>
  </div>
<% end %>
</div>
