<div class="container">
  <% if current_user && current_user.admin? %>
    <%= link_to "Create contact", new_contact_path, class: "btn btn-danger mb-2 mt-2" %>
  <% else %>
    <div class="mb-2">
    </div>
  <% end %>
  <% @contacts.each do |contact| %>
    <div class="card mb-4" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title"><%=contact.first_name %> <%=contact.last_name%></h5>
        <p class="card-text"><%= contact.job_role %></p>
        <p class="card-text"><%= contact.email %></p>
        <p class="card-text"><%= contact.phone_number %></p>
        <% if current_user && current_user.admin? %>
          <%= link_to "Edit", edit_contact_path(contact) %> |
          <%= link_to "Delete", contact_path(contact), data: { confirm: "Are you sure you would like to delete this contact?"}, method: :delete %>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
