<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <%= link_to "Home", root_path, class: "navbar-brand" %>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <form class="d-flex">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <% if current_user == nil %>
            <li class="nav-item">
              <%= link_to "Login", new_user_session_path, class: "nav-link" %>
            </li>
            <li class="nav-item">
              <%= link_to "Register", new_user_registration_path, class: "nav-link" %>
            </li>
          <% else %>
            <% if current_user.analyst? %>
              <%= link_to "Awaiting approval", awaiting_approval_path, class: "nav-link" %>
              <%= link_to "Summary", summary_path, class: "nav-link" %>
            <% else %>
            <li class="nav-item">
              <%= link_to "My Requests", work_requests_path, class: "nav-link" %>
            </li>
            <% end %>
            <li class="nav-item">
              <%= link_to "Edit profile", edit_user_registration_path, class: "nav-link" %>
            </li>
            <li class="nav-item">
              <%= link_to "Sign out", destroy_user_session_path, :method => :delete, class: "nav-link" %>
            </li>
          <% end %>
        </ul>
      </form>
    </div>
  </div>
</nav>
